.footer {
    background-color: rgba(239, 155, 110, 0.434);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 0.5rem;
}
.floor1 {
    margin: 5rem 7rem;
    display: flex;
    justify-content: space-between;
}
.items1 {
    list-style: none;
    line-height: 2rem;
    font-weight: 300;
}
.socialIcons {
    margin-top: 1rem;
    margin-left: 0rem;
}
.si {
    margin-left: 0.2rem;
    object-fit: cover;
    cursor: pointer;
}
.newletterText {
    margin: 1.5rem 0rem;
    font-weight: 300;
}
.input {
    width: 400px;
    height: 40px;
    padding: 10px;
    border: none;
    background-color: rgb(169, 194, 180);
    border-radius: 1rem;
}
.SignUpButton {
    padding: 0rem 0.5rem;
    border: 0.5px solid rgb(0, 0, 0);
    width: 80px;
    height: 40px;
    border-radius: 1rem;
    font-weight: 800;
    color: white;
    background-color: black;

}
.floor2 {
    margin: 5rem 7rem;
    display: flex;
    justify-content: space-between;
}
.community {
    list-style: none;
    line-height: 2rem;
    font-weight: 300;
    cursor: pointer;
}
.TechnicalTeams{
    margin-right: 380px;
    list-style: none;
    line-height: 2rem;
    font-weight: 300;
    cursor: pointer;
}
h3 {
    color: rgba(0, 0, 0, 0.700);
}
h4{
    color: rgba(0, 0, 0, 0.700);
    margin-bottom: 10px;
}
.floor3 {
    margin: 5rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}
.Contacts {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-weight: 300;
    cursor: pointer;
}
.block6 {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.logoImg{
    height: auto;
    width: 100px;
    object-fit: cover;
    margin-left: 5px;
}